<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>af-prod-id</key>
	<string></string>
	<key>af-dev-id</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>594532048902-69ob24v7sve72qcakhb2bhin93e7r5c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594532048902-69ob24v7sve72qcakhb2bhin93e7r5c9</string>
	<key>API_KEY</key>
	<string>AIzaSyBTdaojkvV6cqE2DLXvOX255OxdILThx5U</string>
	<key>GCM_SENDER_ID</key>
	<string>65087219746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.earthcoin.eacpay</string>
	<key>PROJECT_ID</key>
	<string>eacpay-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>eacpay-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:65087219746:ios:138b1029e7e1f19a0dc27b</string>
	<key>litewallet-ops</key>
	<array>
		<string>egx8vWingj3iLuVLxEiP2ruASZD4jkfXgr</string>
		<string>effB4WnjU8gsJj3PoyzTWuL6arZs4U8Y2N</string>
		<string>ejmbuJyu7PCm2xcEqbHS55mnBA7aqdY9Jz</string>
		<string>eVVk7Zuuh2P3yBD797UntEBEJg1X6DignC</string>
	</array>
	<key>litewallet-start</key>
	<string>I disagree with your viewpoint, but I will defend to the death your right to speak</string>
	<key>infura-api</key>
	<string></string>
	<key>pusher-instance-id</key>
	<string>56U49TZ367</string>
</dict>
</plist>
